# Final Tutorial
### Niko Zhang and Sophie Tsai

## Introduction
### Note this is generated by chatgpt and is not final
Crime is a pervasive problem that affects communities throughout the United States. As data scientists, we have the opportunity to contribute to the fight against crime by analyzing data on crime patterns and trends. In this exploratory data analysis, we will focus on crime in the United States at the state and city levels, using data from the FBI Uniform Crime Reporting (UCR) program.

The UCR program is a national initiative that collects and disseminates data on crime across the United States. Law enforcement agencies across the country submit data on a range of crimes, including murder, rape, robbery, aggravated assault, burglary, larceny theft, and motor vehicle theft. This data is used to inform policy decisions at the local, state, and national levels.

Our goal in this exploratory data analysis is to identify any significant trends or patterns in crime rates across the United States, as well as any differences in crime rates between states and cities. We will examine both the overall crime rate and rates for specific types of crimes to identify areas of concern and inform policy decisions aimed at reducing crime and improving public safety.

By analyzing crime data, we hope to contribute to the ongoing effort to reduce crime in the United States and provide valuable information to communities and law enforcement agencies alike. Our exploratory data analysis represents an important step in the fight against crime in the United States.

## Imports and configurations

In [17]:
# Imports for reading in data
import pandas as pd

# Set max rows displayed in DataFrame
pd.set_option('display.max_rows', 100)

## Read in and clean NIBRS crime data for 2021

In [51]:
# Read in excel file for persons offenses
persons_offenses_2021 = pd.read_excel('crimes_by_state/2021/Persons_Offenses.xlsx')
# Read in excel file for property offenses
property_offenses_2021 = pd.read_excel('crimes_by_state/2021/Property_Offenses.xlsx')
# Read in excel file for society offenses
society_offenses_2021 = pd.read_excel('crimes_by_state/2021/Society_Offenses.xlsx')

# clean data for persons offenses
# set column names
persons_offenses_2021.columns = ['state','num_agencies','covered_pop','total_offenses','assualt','homicide','trafficking','kidnapping','sex_offense']
# remove unnecessary rows
persons_offenses_2021 = persons_offenses_2021.iloc[5:-1, :]
persons_offenses_2021.head(5)

,state,num_agencies,covered_pop,total_offenses,assualt,homicide,trafficking,kidnapping,sex_offense
5,Total,11794,215058917,2939412,2706772,16537,2141,36919,177043
6,Alabama,356,3734077,70855,68366,381,18,388,1702
7,Alaska,30,402557,6858,5945,31,2,29,851
8,Arizona,79,3949562,45372,40946,235,7,706,3478
9,Arkansas,285,2916168,66379,62317,339,6,658,3059

In [48]:
# clean data for property offenses
# set column names
property_offenses_2021.columns = ['state','num_agencies','covered_pop','total_offenses','arson','bribe','burglary','counterfeiting','vandalism','embezzlement','extortion','fraud','larceny','motor_theft','robbery','stolen_property']
# remove unnecessary rows
property_offenses_2021 = property_offenses_2021.iloc[5:-1, :]
property_offenses_2021.tail(5)

,state,num_agencies,covered_pop,total_offenses,arson,bribe,burglary,counterfeiting,vandalism,embezzlement,extortion,fraud,larceny,motor_theft,robbery,stolen_property
51,Vermont,88,645570,13817,43,0,1129,179,3249,59,17,1455,7006,450,65,165
52,Virginia,411,8640726,221013,647,30,10464,3489,47560,1569,814,36400,104537,11248,2929,1326
53,Washington,248,7700987,357551,1587,11,39475,3560,77062,140,718,24008,164309,35326,5680,5675
54,West Virginia,247,1575083,30705,237,4,3344,663,5807,101,13,2615,15198,1797,198,728
55,Wisconsin,323,5423821,131390,474,0,9298,2005,25830,540,275,15565,57234,15950,2648,1571

## Read in UCR crime data (2000-2021) as DataFrames

In [3]:
# Read in the excel files as DataFrames
offenses2021df = pd.read_excel('offenses_by_city/2021offenses_by_state_and_city.xlsx')
offenses2020df = pd.read_excel('offenses_by_city/2020offenses_by_state_and_city.xlsx')
offenses2019df = pd.read_excel('offenses_by_city/2019offenses_by_state_and_city.xls')
offenses2018df = pd.read_excel('offenses_by_city/2018offenses_by_state_and_city.xls')
offenses2017df = pd.read_excel('offenses_by_city/2017offenses_by_state_and_city.xls')
offenses2016df = pd.read_excel('offenses_by_city/2016offenses_by_state_and_city.xls')
offenses2015df = pd.read_excel('offenses_by_city/2015offenses_by_state_and_city.xls')
offenses2014df = pd.read_excel('offenses_by_city/2014offenses_by_state_and_city.xls')
offenses2013df = pd.read_excel('offenses_by_city/2013offenses_by_state_and_city.xls')
offenses2012df = pd.read_excel('offenses_by_city/2012offenses_by_state_and_city.xls')
offenses2011df = pd.read_excel('offenses_by_city/2011offenses_by_state_and_city.xls')
offenses2010df = pd.read_excel('offenses_by_city/2010offenses_by_state_and_city.xls')
offenses2009df = pd.read_excel('offenses_by_city/2009offenses_by_state_and_city.xls')
offenses2008df = pd.read_excel('offenses_by_city/2008offenses_by_state_and_city.xls')
offenses2007df = pd.read_excel('offenses_by_city/2007offenses_by_state_and_city.xls')
offenses2006df = pd.read_excel('offenses_by_city/2006offenses_by_state_and_city.xls')
offenses2005df = pd.read_excel('offenses_by_city/2005offenses_by_state_and_city.xls')
offenses2004under10000df = pd.read_excel('offenses_by_city/2004offenses_by_state_and_city_pop_under_10000.xls')
offenses2004ge10000df = pd.read_excel('offenses_by_city/2004offenses_by_state_and_city_pop_ge_10000.xls')
offenses2003under10000df = pd.read_excel('offenses_by_city/2003offenses_by_state_and_city_pop_under_10000.xls')
offenses2003ge10000df = pd.read_excel('offenses_by_city/2003offenses_by_state_and_city_pop_ge_10000.xls')
offenses2002under10000df = pd.read_excel('offenses_by_city/2002offenses_by_state_and_city_pop_under_10000.xls')
offenses2002ge10000df = pd.read_excel('offenses_by_city/2002offenses_by_state_and_city_pop_ge_10000.xls')
offenses2001under10000df = pd.read_excel('offenses_by_city/2001offenses_by_state_and_city_pop_under_10000.xls')
offenses2001ge10000df = pd.read_excel('offenses_by_city/2001offenses_by_state_and_city_pop_ge_10000.xls')
offenses2000ge10000df = pd.read_excel('offenses_by_city/2000offenses_by_state_and_city_pop_ge_10000.xls')

## Clean 2021 crime data (by state & city)

In [4]:
# Read in 2021 crime data as DataFrame
offenses2021df = pd.read_excel('offenses_by_city/2021offenses_by_state_and_city.xlsx')

'''The US state column in the Excel file has merged cells. When reading this file as a 
   DataFrame, the corresponding column has NaN values due to the merged cells separating 
   into unmerged cells. The line below fixes the issue by filling in those NaN values
   with the correct US states.'''
offenses2021df = offenses2021df.fillna(method='ffill', axis=0)

# Remove the first 2 rows and the last row as they are not needed
offenses2021df = offenses2021df.iloc[2:-1:, :]

# Make the first row which contains the names of the features as the column names
header = offenses2021df.iloc[0] # takes the first row as the header for column names
header.name = '' # removes the name of the header (not needed)
offenses2021df = offenses2021df[1:]
offenses2021df.columns = header

# Reformat column names for readability
offenses2021df.columns = offenses2021df.columns.str.lower().str.replace('\n',' ').str.replace(' ','_').str.replace('-','')

# Reset the indices
offenses2021df.reset_index(drop=True, inplace=True)

# Save the column header for the rest of the crime datasets
header = offenses2021df.columns

# Display first couple rows of DataFrame
offenses2021df.head(5)

,state,city,population,violent_crime,murder_and_nonnegligent_manslaughter,rape,robbery,aggravated_assault,property_crime,burglary,larceny_theft,motor_vehicle_theft,arson
0,ALABAMA,Abbeville,2539,4,1,0,0,3,53,11,37,5,0
1,ALABAMA,Alabaster,33963,25,1,4,0,20,282,13,253,16,1
2,ALABAMA,Alexander City,14066,40,0,0,7,33,283,178,87,18,1
3,ALABAMA,Altoona,913,4,0,0,0,4,7,1,6,0,0
4,ALABAMA,Andalusia,8643,44,1,6,1,36,254,45,198,11,0

## Clean 2020 crime data (by state & city)

In [5]:
# Read in the excel file
offenses2020df = pd.read_excel('offenses_by_city/2020offenses_by_state_and_city.xlsx')

# Remove the rows that are not part of the data table
offenses2020df = offenses2020df.iloc[5:7694, :]

# Use previous column header
offenses2020df.columns = header

'''The US state column in the Excel file has merged cells. When reading this file as a 
   DataFrame, the corresponding column has NaN values due to the merged cells separating 
   into unmerged cells. The line below fixes the issue by filling in those NaN values
   with the correct US states.'''
offenses2020df = offenses2020df.fillna(method='ffill', axis=0)

# Reset the indices
offenses2020df.reset_index(drop=True, inplace=True)

# Correctly format the state and city names
offenses2020df['state'] = offenses2020df['state'].str.replace(r'\d+', '', regex=True) # remove all numbers from state names
offenses2020df['city'] = offenses2020df['city'].str.replace(r'\d+', '', regex=True) # remove all numbers from city names
offenses2020df['state'] = offenses2020df['state'].str.upper() # capitalize all state names

# Replace NaN values with 0
offenses2020df['arson'] = offenses2020df['arson'].fillna(0)

# Display the first couple rows of the DataFrame
offenses2020df.head(5)

,state,city,population,violent_crime,murder_and_nonnegligent_manslaughter,rape,robbery,aggravated_assault,property_crime,burglary,larceny_theft,motor_vehicle_theft,arson
0,ALABAMA,Cedar Bluff,1823,4,0,0,0,4,36,7,26,3,0.0
1,ALABAMA,Centre,3547,20,0,4,0,16,124,12,97,15,0.0
2,ALABAMA,Daleville,5080,16,0,0,1,15,98,19,72,7,0.0
3,ALABAMA,Enterprise,28569,128,2,17,9,100,715,97,570,48,0.0
4,ALABAMA,Eufaula,11568,95,3,9,15,68,456,95,318,43,0.0

## Clean 2019 crime data (by state & city)

In [6]:
# Read in excel file
offenses2019df = pd.read_excel('offenses_by_city/2019offenses_by_state_and_city.xls')

# Remove the rows that are not part of the data table
offenses2019df = offenses2019df.iloc[3:8108, :]

# Use previous column header
offenses2019df.columns = header

'''The US state column in the Excel file has merged cells. When reading this file as a 
   DataFrame, the corresponding column has NaN values due to the merged cells separating 
   into unmerged cells. The line below fixes the issue by filling in those NaN values
   with the correct US states.'''
offenses2019df = offenses2019df.fillna(method='ffill', axis=0)

# Reset the indices
offenses2019df.reset_index(drop=True, inplace=True)

# Correctly format the state and city names
offenses2019df['state'] = offenses2019df['state'].str.replace(r'\d+', '', regex=True) # remove all numbers from state names
offenses2019df['city'] = offenses2019df['city'].str.replace(r'\d+', '', regex=True) # remove all numbers from city names

# Display the first couple rows of the DataFrame
offenses2019df.head(5)

,state,city,population,violent_crime,murder_and_nonnegligent_manslaughter,rape,robbery,aggravated_assault,property_crime,burglary,larceny_theft,motor_vehicle_theft,arson
0,ALABAMA,Hoover,85670,114,4,15,27,68,1922,128,1694,100,2
1,ALASKA,Anchorage,287731,3581,32,540,621,2388,12261,1692,9038,1531,93
2,ALASKA,Bethel,6544,130,1,47,3,79,132,20,84,28,12
3,ALASKA,Bristol Bay Borough,852,2,0,0,0,2,20,5,8,7,0
4,ALASKA,Cordova,2150,0,0,0,0,0,7,1,6,0,0

## Clean 2018 crime data (by state & city)

In [20]:
# Read in excel file
offenses2018df = pd.read_excel('offenses_by_city/2018offenses_by_state_and_city.xls')

# Remove the rows that are not part of the data table
offenses2018df = offenses2018df.iloc[2:, :]

offenses2018df.head(5)

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
2,State,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape1,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson2
3,ALABAMA,Abbeville,2551,18,0,2,0,16,49,14,33,2,NaN
4,NaN,Adamsville,4323,19,0,1,4,14,289,42,230,17,NaN
5,NaN,Alabaster,33501,92,0,2,10,80,579,56,497,26,NaN
6,NaN,Albertville,21428,24,0,6,10,8,802,194,492,116,NaN

## 2019 crime by state (testing to see if we should use crime data by states instead)

In [19]:
# read in the data for 2019 crime data by state
offenses2019bystatedf = pd.read_excel('Table_5_Crime_in_the_United_States_by_State_2019.xls')

# Remove the rows that are not part of the data table
offenses2019bystatedf = offenses2019bystatedf.iloc[2:, :]

# Make the first row which contains the names of the features as the column names
header = offenses2019bystatedf.iloc[0] # takes the first row as the header for column names
header.name = '' # removes the name of the header (not needed)
offenses2019bystatedf = offenses2019bystatedf[1:]
offenses2019bystatedf.columns = header

# Reformat column names for readability
offenses2019bystatedf.columns = offenses2019bystatedf.columns.str.lower().str.replace('\n','').str.replace(' ','_').str.replace('-','')
offenses2019bystatedf.columns = offenses2019bystatedf.columns.str.replace(r'\d','', regex=True)
offenses2019bystatedf.rename(columns = {'area':'unit_type'}, inplace = True)

# remove all numbers from state names
offenses2019bystatedf['state'] = offenses2019bystatedf['state'].str.replace(r'\d+', '', regex=True)

'''The US state column in the Excel file has merged cells. When reading this file as a 
   DataFrame, the corresponding column has NaN values due to the merged cells separating 
   into unmerged cells. The line below fixes the issue by filling in those NaN values
   with the correct US states.'''
offenses2019bystatedf['state'] = offenses2019bystatedf['state'].fillna(method='ffill', axis=0)
offenses2019bystatedf['unit_type'] = offenses2019bystatedf['unit_type'].fillna(method='ffill', axis=0)

# Remove the rows that we don't need (we only need rows for state totals)
offenses2019bystatedf = offenses2019bystatedf[offenses2019bystatedf['unit_type'] == 'State Total']

# Drop the NaN column
offenses2019bystatedf.drop(offenses2019bystatedf.columns[2], inplace=True, axis=1)

# Reset the indices
offenses2019bystatedf.reset_index(drop=True, inplace=True)

# Rename every other observation in the unit_type column to 'Rate per 100,000 inhabitants'
offenses2019bystatedf.iloc[1::2,:]['unit_type'][:] = 'Rate per 100,000 inhabitants'

offenses2019bystatedf.head(100)

/tmp/ipykernel_1639/3953226655.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offenses2019bystatedf.iloc[1::2,:]['unit_type'][:] = 'Rate per 100,000 inhabitants'

,state,unit_type,population,violent_crime,murder_and_nonnegligent_manslaughter,rape,robbery,aggravated_assault,property_crime,burglary,larcenytheft,motor_vehicle_theft
0,ALABAMA,State Total,4903185,25046,358,2068,3941,18679,131133,26079,92477,12577
1,ALABAMA,"Rate per 100,000 inhabitants",NaN,510.8,7.3,42.2,80.4,381,2674.4,531.9,1886.1,256.5
2,ALASKA,State Total,731545,6343,69,1088,826,4360,21294,3563,15114,2617
3,ALASKA,"Rate per 100,000 inhabitants",NaN,867.1,9.4,148.7,112.9,596,2910.8,487.1,2066,357.7
4,ARIZONA,State Total,7278717,33141,365,3662,6410,22704,177638,28699,130788,18151
5,ARIZONA,"Rate per 100,000 inhabitants",NaN,455.3,5,50.3,88.1,311.9,2440.5,394.3,1796.9,249.4
6,ARKANSAS,State Total,3017804,17643,242,2331,1557,13513,86250,18095,60735,7420
7,ARKANSAS,"Rate per 100,000 inhabitants",NaN,584.6,8,77.2,51.6,447.8,2858,599.6,2012.6,245.9
8,CALIFORNIA,State Total,39512223,174331,1690,14799,52301,105541,921114,152555,626802,141757
9,CALIFORNIA,"Rate per 100,000 inhabitants",NaN,441.2,4.3,37.5,132.4,267.1,2331.2,386.1,1586.3,358.8
10,COLORADO,State Total,5758736,21938,218,3872,3663,14185,149189,20064,107012,22113
11,COLORADO,"Rate per 100,000 inhabitants",NaN,381,3.8,67.2,63.6,246.3,2590.7,348.4,1858.3,384
12,CONNECTICUT,State Total,3565287,6546,104,771,1929,3742,50862,6441,38457,5964
13,CONNECTICUT,"Rate per 100,000 inhabitants",NaN,183.6,2.9,21.6,54.1,105,1426.6,180.7,1078.7,167.3
14,DELAWARE,State Total,973764,4115,48,310,790,2967,21931,2968,17359,1604
15,DELAWARE,"Rate per 100,000 inhabitants",NaN,422.6,4.9,31.8,81.1,304.7,2252.2,304.8,1782.7,164.7
16,FLORIDA,State Total,21477737,81270,1122,8456,16217,55475,460846,63396,358402,39048
17,FLORIDA,"Rate per 100,000 inhabitants",NaN,378.4,5.2,39.4,75.5,258.3,2145.7,295.2,1668.7,181.8
18,GEORGIA,State Total,10617423,36170,654,2922,7961,24633,252249,39506,188967,23776
19,GEORGIA,"Rate per 100,000 inhabitants",NaN,340.7,6.2,27.5,75,232,2375.8,372.1,1779.8,223.9
20,HAWAII,State Total,1415872,4042,48,765,1131,2098,40228,5340,29634,5254
21,HAWAII,"Rate per 100,000 inhabitants",NaN,285.5,3.4,54,79.9,148.2,2841.2,377.2,2093,371.1
22,IDAHO,State Total,1787065,4000,35,809,155,3001,21793,3927,16295,1571
23,IDAHO,"Rate per 100,000 inhabitants",NaN,223.8,2,45.3,8.7,167.9,1219.5,219.7,911.8,87.9
24,ILLINOIS,State Total,12671821,51561,832,6078,12464,32187,233984,34433,180776,18775
25,ILLINOIS,"Rate per 100,000 inhabitants",NaN,406.9,6.6,48,98.4,254,1846.5,271.7,1426.6,148.2
26,INDIANA,State Total,6732219,24966,377,2475,5331,16783,132694,21795,97176,13723
27,INDIANA,"Rate per 100,000 inhabitants",NaN,370.8,5.6,36.8,79.2,249.3,1971,323.7,1443.4,203.8
28,IOWA,State Total,3155070,8410,60,1164,863,6323,54699,11710,37847,5142
29,IOWA,"Rate per 100,000 inhabitants",NaN,266.6,1.9,36.9,27.4,200.4,1733.7,371.1,1199.6,163
30,KANSAS,State Total,2913314,11968,105,1416,1293,9154,67428,9984,50165,7279
31,KANSAS,"Rate per 100,000 inhabitants",NaN,410.8,3.6,48.6,44.4,314.2,2314.5,342.7,1721.9,249.9
32,KENTUCKY,State Total,4467673,9701,221,1572,2161,5747,84769,15443,59130,10196
33,KENTUCKY,"Rate per 100,000 inhabitants",NaN,217.1,4.9,35.2,48.4,128.6,1897.4,345.7,1323.5,228.2
34,LOUISIANA,State Total,4648794,25537,544,2273,4025,18695,146993,26918,109359,10716
35,LOUISIANA,"Rate per 100,000 inhabitants",NaN,549.3,11.7,48.9,86.6,402.1,3162,579,2352.4,230.5
36,MAINE,State Total,1344212,1548,20,516,188,824,16743,2350,13667,726
37,MAINE,"Rate per 100,000 inhabitants",NaN,115.2,1.5,38.4,14,61.3,1245.6,174.8,1016.7,54
38,MARYLAND,State Total,6045680,27456,542,1913,9203,15798,117901,16862,89780,11259
39,MARYLAND,"Rate per 100,000 inhabitants",NaN,454.1,9,31.6,152.2,261.3,1950.2,278.9,1485,186.2
40,MASSACHUSETTS,State Total,6892503,22578,152,2204,3613,16609,81317,12341,62844,6132
41,MASSACHUSETTS,"Rate per 100,000 inhabitants",NaN,327.6,2.2,32,52.4,241,1179.8,179,911.8,89
42,MICHIGAN,State Total,9986857,43686,556,7235,5350,30545,158296,28572,111980,17744
43,MICHIGAN,"Rate per 100,000 inhabitants",NaN,437.4,5.6,72.4,53.6,305.9,1585,286.1,1121.3,177.7
44,MINNESOTA,State Total,5639632,13332,117,2448,3149,7618,117236,15927,90092,11217
45,MINNESOTA,"Rate per 100,000 inhabitants",NaN,236.4,2.1,43.4,55.8,135.1,2078.8,282.4,1597.5,198.9
46,MISSISSIPPI,State Total,2976149,8272,332,747,1700,5493,70707,18660,46300,5747
47,MISSISSIPPI,"Rate per 100,000 inhabitants",NaN,277.9,11.2,25.1,57.1,184.6,2375.8,627,1555.7,193.1
48,MISSOURI,State Total,6137428,30380,568,2917,4959,21936,161946,26414,114460,21072
49,MISSOURI,"Rate per 100,000 inhabitants",NaN,495,9.3,47.5,80.8,357.4,2638.7,430.4,1865,343.3
50,MONTANA,State Total,1068778,4328,27,624,205,3472,23440,2887,18176,2377
51,MONTANA,"Rate per 100,000 inhabitants",NaN,404.9,2.5,58.4,19.2,324.9,2193.2,270.1,1700.6,222.4
52,NEBRASKA,State Total,1934408,5821,45,1253,792,3731,39449,4745,29719,4985
53,NEBRASKA,"Rate per 100,000 inhabitants",NaN,300.9,2.3,64.8,40.9,192.9,2039.3,245.3,1536.3,257.7
54,NEVADA,State Total,3080156,15210,143,2161,3286,9620,71525,15510,44755,11260
55,NEVADA,"Rate per 100,000 inhabitants",NaN,493.8,4.6,70.2,106.7,312.3,2322.1,503.5,1453,365.6
56,NEW HAMPSHIRE,State Total,1359711,2074,33,590,313,1138,16442,1717,13832,893
57,NEW HAMPSHIRE,"Rate per 100,000 inhabitants",NaN,152.5,2.4,43.4,23,83.7,1209.2,126.3,1017.3,65.7
58,NEW JERSEY,State Total,8882190,18375,262,1531,5730,10852,118637,16399,91902,10336
59,NEW JERSEY,"Rate per 100,000 inhabitants",NaN,206.9,2.9,17.2,64.5,122.2,1335.7,184.6,1034.7,116.4
60,NEW MEXICO,State Total,2096829,17450,181,1288,2341,13640,65269,14610,41702,8957
61,NEW MEXICO,"Rate per 100,000 inhabitants",NaN,832.2,8.6,61.4,111.6,650.5,3112.7,696.8,1988.8,427.2
62,NEW YORK,State Total,19453561,69764,558,6583,18068,44555,267155,27600,226851,12704
63,NEW YORK,"Rate per 100,000 inhabitants",NaN,358.6,2.9,33.8,92.9,229,1373.3,141.9,1166.1,65.3
64,NORTH CAROLINA,State Total,10488084,38995,632,3247,7599,27517,247236,54447,174728,18061
65,NORTH CAROLINA,"Rate per 100,000 inhabitants",NaN,371.8,6,31,72.5,262.4,2357.3,519.1,1666,172.2
66,NORTH DAKOTA,State Total,762062,2169,24,437,179,1529,15066,2608,10666,1792
67,NORTH DAKOTA,"Rate per 100,000 inhabitants",NaN,284.6,3.1,57.3,23.5,200.6,1977,342.2,1399.6,235.2
68,OHIO,State Total,11689100,34269,538,5731,8846,19154,240291,43894,177725,18672
69,OHIO,"Rate per 100,000 inhabitants",NaN,293.2,4.6,49,75.7,163.9,2055.7,375.5,1520.4,159.7
70,OKLAHOMA,State Total,3956971,17086,266,2268,2369,12183,112587,26577,72632,13378
71,OKLAHOMA,"Rate per 100,000 inhabitants",NaN,431.8,6.7,57.3,59.9,307.9,2845.3,671.7,1835.5,338.1
72,OREGON,State Total,4217737,11995,116,1778,2276,7825,115170,14724,85261,15185
73,OREGON,"Rate per 100,000 inhabitants",NaN,284.4,2.8,42.2,54,185.5,2730.6,349.1,2021.5,360
74,PENNSYLVANIA,State Total,12801989,39228,669,4351,9743,24465,179665,23354,143921,12390
75,PENNSYLVANIA,"Rate per 100,000 inhabitants",NaN,306.4,5.2,34,76.1,191.1,1403.4,182.4,1124.2,96.8
76,RHODE ISLAND,State Total,1059361,2342,25,491,418,1408,16259,2321,12580,1358
77,RHODE ISLAND,"Rate per 100,000 inhabitants",NaN,221.1,2.4,46.3,39.5,132.9,1534.8,219.1,1187.5,128.2
78,SOUTH CAROLINA,State Total,5148714,26323,464,2460,3294,20105,151389,27461,108953,14975
79,SOUTH CAROLINA,"Rate per 100,000 inhabitants",NaN,511.3,9,47.8,64,390.5,2940.3,533.4,2116.1,290.8
80,SOUTH DAKOTA,State Total,884659,3530,17,642,195,2676,15667,2646,11265,1756
81,SOUTH DAKOTA,"Rate per 100,000 inhabitants",NaN,399,1.9,72.6,22,302.5,1771,299.1,1273.4,198.5
82,TENNESSEE,State Total,6829174,40647,498,2813,6150,31186,181153,29869,132104,19180
83,TENNESSEE,"Rate per 100,000 inhabitants",NaN,595.2,7.3,41.2,90.1,456.7,2652.6,437.4,1934.4,280.9
84,TEXAS,State Total,28995881,121474,1409,14824,28988,76253,693204,113902,501813,77489
85,TEXAS,"Rate per 100,000 inhabitants",NaN,418.9,4.9,51.1,100,263,2390.7,392.8,1730.6,267.2
86,UTAH,State Total,3205958,7553,72,1822,1125,4534,69546,8871,53937,6738
87,UTAH,"Rate per 100,000 inhabitants",NaN,235.6,2.2,56.8,35.1,141.4,2169.3,276.7,1682.4,210.2
88,VERMONT,State Total,623989,1262,11,278,71,902,8888,1275,7315,298
89,VERMONT,"Rate per 100,000 inhabitants",NaN,202.2,1.8,44.6,11.4,144.6,1424.4,204.3,1172.3,47.8
90,VIRGINIA,State Total,8535519,17753,426,2816,3524,10987,140213,13900,116044,10269
91,VIRGINIA,"Rate per 100,000 inhabitants",NaN,208,5,33,41.3,128.7,1642.7,162.8,1359.5,120.3
92,WASHINGTON,State Total,7614893,22377,198,3332,5147,13700,204224,34540,145282,24402
93,WASHINGTON,"Rate per 100,000 inhabitants",NaN,293.9,2.6,43.8,67.6,179.9,2681.9,453.6,1907.9,320.5
94,WEST VIRGINIA,State Total,1792147,5674,78,754,378,4464,28376,5891,20066,2419
95,WEST VIRGINIA,"Rate per 100,000 inhabitants",NaN,316.6,4.4,42.1,21.1,249.1,1583.4,328.7,1119.7,135
96,WISCONSIN,State Total,5822434,17070,175,2261,2991,11643,85672,12667,65620,7385
97,WISCONSIN,"Rate per 100,000 inhabitants",NaN,293.2,3,38.8,51.4,200,1471.4,217.6,1127,126.8
98,WYOMING,State Total,578759,1258,13,324,67,854,9093,1396,6984,713
99,WYOMING,"Rate per 100,000 inhabitants",NaN,217.4,2.2,56,11.6,147.6,1571.1,241.2,1206.7,123.2